{{#each blogs }}
<a href="/blog/{{id}}">
    <div>
        <h2> {{title}} </h2>
        <h2> {{description}} </h2>
        <h2> {{user.username}} </h2>
        <h2> {{date_created}} </h2>
        <h2>{{logged_in}}</h2>
    </div>
</a>
{{/each}}
