{{#each blogs }}
<div class="card text-center">
  <div class="card-header">
    {{user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/blog/{{id}}" class="btn btn-primary">Read Blog</a>
  </div>
  <div class="card-footer text-body-secondary">
    Date Created: {{format_date date_created}}
  </div>
</div>
{{/each}}
